.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #C7FFD8;
  padding-top: 20px;
  overflow: auto;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-link {
  font-size: 1.1rem;
  margin: 10px 0;
}
.active-link {
  background-color: #161D6F !important;
  color: #fff !important;
  font-weight: bold;
  border-radius: 4px;
}
